<div>
    <p>Enter the name of your game:</p>
    <input id="gameTitle">
    <button id="enterButton" (click)="enter(gameTitle)">ENTER</button>
</div>
<div>
    <p>Name of Game:</p>
    <span>{{ myGameTitle }}</span>
</div>

<div>
    <p>Total for one ball</p>
    <span>{{ totalForOneBall }}</span>
</div>
<div>
    <p>Total for one frame</p>
    <span>{{ totalForOneFrame }}</span>
</div>
<div>
    <p>Total for two frames</p>
    <span>{{ totalForTwoFrames }}</span>
</div>
<div>
    <p>Total for all frames</p>
    <span>{{ totalForGame }}</span>
</div>